################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BinTemp
/Bin/Win64
/.vs/HaySal_Engine/v16
/Code/Solutions/.vs
/.vs
